
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/
font-awesome/5.15.1/css/all.min.css">
<!-- Toolbar -->
<div class="toolbar" role="banner">
    <div class="test">
   <img
   width="100"
   alt="SHOPIN"
   src="https://app.logo.com/view/logo_53c19b21-0374-4218-aab4-c3c606e8fd5b" style="color:#DB7093"/>
      <span>Free Shipping for orders over $50 & Free Delivery On Your First Order.</span>
      <ul>
        <li><a routerLink="/home"></a>HOME</li>
        <li><a routerLink="/about"></a>ABOUT</li>
        <li><a routerLink="/help"></a>HELP</li>
        <li><a routerLink="/contact"></a>CONTACT</li>
       
      </ul>
    </div>
    </div>

    <!-- toolbar 3 -->
    <div class="too" role="banne">
      <nav>
        <ul>
          <li><a routerLink="/women">Women</a></li>
          <li><a routerLink="/men">Men</a></li>
          <li><a routerLink="/cotegories">Categories</a></li>
          <li><a routerLink="/all">New Collection</a></li>
          <li><a routerLink="/kids">Kids</a></li>
        </ul>
      </nav>

      <div class="search-bar">
        <input type="text" id="search-input" placeholder="Search...">
        <button id="search-button">Search</button>
    </div>

      <nav>
        <ul>
          <li><a routerLink="/contact">Favorites</a><a class="symbol"><i class="fa fa-heart" style="font-size:20px"></i></a></li>
          <li><a routerLink="/contact"><i class="fa fa-shopping-cart" style="font-size:24px"></i>Our Cart</a></li>
          
        </ul>
      </nav>
  </div>
 
   <div class="to">
        <img src="../assets/AdobeStock_553550819_Preview.jpeg"  alt="logo"  width="100%" >
  </div>

  <div class="toos">
   <a herf="#"> <img src="../assets/priscilla-du-preez-dlxLGIy-2VU-unsplash.jpg"  alt="logo"  width="50%" >
    <img src="../assets/freestocks-_3Q3tsJ01nc-unsplash.jpg"  alt="logo"  width="50%" ></a>
  </div>

  <div class="tooss">
    <img src="../assets/AdobeStock_616606051_Preview.png"  alt="logo"  width="50%" >
    <img src="../assets/AdobeStock_623462142_Preview.png"  alt="logo"  width="50%" >
  </div>



  <!-- footerpage code here -->

  <div class="toosses">
    <footer class="footer">
      <div class="container">
        <div class="row">

          <div class="footer-col">
          <h4>Company</h4>
          <ul>
            <li><a herf="#">about us</a></li>
            <li><a herf="#">our services</a></li>
            <li><a herf="#">privacy policy</a></li>
            <li><a herf="#">contact</a></li>
          </ul>
        </div>

        <div class="footer-col">
          <h4>get help</h4>
          <ul>
            <li><a herf="#">FAQ</a></li>
            <li><a herf="#">returns</a></li>
            <li><a herf="#">order status</a></li>
            <li><a herf="#">payment options</a></li>
          </ul>
        </div>

        <div class="footer-col">
          <h4>Shop</h4>
          <ul>
            <li><a herf="#">Men</a></li>
            <li><a herf="#">Women</a></li>
            <li><a herf="#">Kids</a></li>
          </ul>
        </div>

        <div class="footer-col">
          <h4>follow us</h4>
          <div class="social-links">
            <a herf="#"><i class="fab fa-facebook"></i></a><br>
            <a herf="#"><i class="fab fa-twitter"></i></a><br>
            <a herf="#"><i class="fab fa-instagram"></i></a>
            <a herf="#"><i class="fab fa-linked-in"></i></a>
          </div>
        </div>
        </div>
      </div>
    </footer>
  </div>

    <router-outlet></router-outlet>

